<article class="post">
      <div class="title">
        <h3>{{favorite_book}}</h3>
        <h4>"{{comment_text}}"</h4>
      </div>
      <div class="meta">
        {{!-- <a href="/post/{{id}}"></a> --}}
      </div>
    </article>