<div class="book-info">
  <div class="book-cover-l">
    {{thumbnail}}
  </div>
  <div class="book-title-l"></div>
  <div>
    <p>
      Description:
      {{description}}
    </p>
    <p>Number of Pages:
      {{pageCount}}
    </p>
  </div>
</div>

<script src="/public/javascript/index.js"></script>