

<form class="search">
  <div class="search-box">
    <input type="text" id="search-input" name="title" placeholder="Book Title">
    <button type="submit" type="submit">Search</button>
  </div>
  <div id="book-container">BOOK</div>
</form>

<script src="/javascript/index.js"></script>
