<section>
  <h2>Search for a book: </h2>

  <form class="new-search-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    {{!-- <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div> --}}
    <button type="submit" class="bookSearchBtn" >Search</button>
  </form>
</section>

<script src="/javascript/index.js"></script>