<h1>Search Books</h1>
<form class="search">
    <div class="search-box">
        <input type="text" id="search-input" name="title" placeholder="Book Title">
        <button type="submit">Search</button>
    </div>
    <section id="book-container">
        <div class="column" id="image-1"></div>
    </section>

</form>

<script src="/javascript/index.js"></script>
